.popover-full-access {
  --color: rgb(237, 112, 146);
  --box-shadow-color: #a6a6a6;

   * {
     padding:0;
   }
  .ant-popover-inner {
    box-shadow: 0 0 0 1px var(--color), 0 0 13px 1px var(--box-shadow-color);
    padding:10px;
  }

  .ant-popover-arrow-content {
    box-shadow: 0 0 0 1.5px var(--color)
  }

  &.growth{
    --color: black;
  }

  .ant-popover-title{
    border-bottom: 0;
  }
}
